.col-4.m-4.text-dark{
    width: 300px;
    max-width: 340px;
}   
.container-fluid.border-bottom.border-muted.p-2.bg-light.shadow.rounded-xl{
   border-radius: 1rem;
   width: 100%;
}
.text-dark.fs-2.text.fw-light{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;



}
.img-fluid.img-thumbnail.rounded-xl.border.border-muted{
    height: 190px;
    border-radius: 0.5rem;

}
.bg-light.border.border-muted.my-1.rounded-lg.text-dark.fw-light{
    width: 75%;
    border-radius: 2rem;
}