.firstDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6px;
    min-height: 95vh;
}
.text-dark.col-10.col-sm-8{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

}
.cartItemHelperStyle{
    min-height: 60vh;
    
}

.buttonsCart{
    display: flex;
    justify-content: center;
}
button{
border-radius: 50rem;
margin: 4px;
}
.bg-light.rounded-xl.border.border-secondary.text-danger{
    border-radius: 50rem;
    width: 140px;
}
.bg-light.rounded-xl.border.border-secondary.text-primary{
    border-radius: 50rem;
    width: 140px;

}