.col-12.d-flex.flex-column.align-items-center{
    min-height: 90vh;
}
.col-10.bg-light.shadow.rounded-xl{
    max-height: 370px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-12{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-dark.my-2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-fluid{
    max-height: 370px;
    object-fit: contain;
}
.my-3{
    display: flex;
    justify-content: center;
    max-height: 80px;
    max-width: 80px;
}
.img-fluid.border.border.border-muted.shadow.rounded.m-2{
    max-height: 30;
    border-radius: 1rem;
    background-color: white;
}
.col-12.col-sm-8.py-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-10.col-sm-6.fw-light.my-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}