nav{
    top: 0;
    position: fixed;
    z-index: 1
}
.navbar.navbar-dark.navbar-1.bg-dark{
    display: flex;
    overflow: hidden;
    width: 100%;
}
.col-sm-10{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0 3px 0;
    
}
.col-sm-9{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0 3px 0;
}
.col-2{
    text-decoration: none;
    border-radius: 2rem;
}
.col-10.col-sm-5.bg-light.mx-auto.border.border-primary.rounded-xl.text-primary{
    padding: 0;
    border-radius: 2rem
}